.about{
    color:gray;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
}

.about-me{
    margin: 250px 0 0 20px;
    display: flex;
    justify-content: space-around;
}

.about-title{
    color:white;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.about-right{
    margin: auto 0;
    height: 300px;
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

.about-left{
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

@media screen and (max-width: 1200px) {
    .about-title{
        font-size: 40px;
    }

    .about{
        font-size: 20px;
    }

    .about-right{
        height: 200px;
    }
}

@media screen and (max-width: 800px){
    .about-title{
        font-size: 30px;
    }

    .about{
        font-size: 15px;
    }

    .about-right{
        height: 100px;
    }
}